<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href='../static/css/jquery-ui.min.css'>
    <link rel="stylesheet" href='../static/css/font-awesome.min.css'>
    <style>
      body{
        overflow: visible;
      }
      .centered-text{
        margin: auto;
        text-align: center;
      }
      .centered{
        display: block
        margin: 0 auto;
      }
      .alert {
        width: 784px;
      }
    </style>
  </head>
  <body>
    <div id='loading'>
      <div class='container'>
        <div class='row' style='text-align: center; margin-top: 150px;'>
          <div class="col-md-10 col-md-offset-1">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            <span id='loading-step-1'><h1>Loading databases...</h1></span>
            <span id='loading-step-2' style='display: none'><h1>Getting matchlist...</h1></span>
          </div>
        </div>
      </div>
    </div>
    <div id='overview' style='display: none'>
      <div class="alert alert-warning" id='inAGame'>Checking if you are in a game...</div>
      <div class='container-fluid'>
        <div class="row" style='text-align: center'>
          <h1 id='summonerName'></span>
        </div>
        <div class="row" style='text-align: center'>
          <div class="col-xs-6">
            <h2>Solo/Duo</h2>
            <h3><span id='solo_rank'>-</h3>
            <h4><span id='solo_lp'>-</h4>
            <h4 id='inSoloSeries' style='display: none'>In Series: <span id='solo_series_wins' style='color: green'>-</span>/<span id='solo_series_losses' style='color: red'>-</span></h4>
            <h4><span id='solo_wins' style='color: green'>-</span>/<span id='solo_losses' style='color: red'>-</span></h4>
          </div>
          <div class="col-xs-6">
            <h2>Flex</h2>
            <h3><span id='flex_rank'>-</h3>
            <h4><span id='flex_lp'>-</h4>
            <h4 id='inFlexSeries' style='display: none'>In Series: <span id='flex_series_wins' style='color: green'>-</span>/<span id='flex_series_losses' style='color: red'>-</span></h4>
            <h4><span id='flex_wins' style='color: green'>-</span>/<span id='flex_losses' style='color: red'>-</span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class='modal fade' role='dialog' data-backdrop='static' id='lpModal'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">LP Tracking</h4>
          </div>
          <div class="modal-body">
            <h2 style='text-align: center'>You just <span id='lpModalWinLoss'></span> a <span id='lpModalTypeOfMatch'></span> match</h2>
            <br>
            <input id='lpModalAmount' class='form-control' placeholder='How much LP did you ${win/lose}'>
            <input id='lpModalJSON' style='display:none'>
          </div>
          <div class="modal-footer">
            <button class='btn btn-info' style='display: none' id='intoSeries'>Got into series?</button>
            <button class='btn btn-info' style='display: none' id='gotPromoted'>Got promoted?</button>
            <button class='btn btn-info' style='display: none' id='gotDemoted'>Got demoted?</button>
            <button type="button" id='lpModalSubmit' class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    window.$ = window.jQuery = require('../static/js/jquery-3.2.0.min.js');
  </script>
  <script src='../static/js/jquery-ui.min.js'></script>
  <script src='../static/js/bootstrap.min.js'></script>
  <script>
    ipcRenderer = require("electron").ipcRenderer
    mainProcess = null;
    screen_height = require("electron").remote.screen.getPrimaryDisplay().workAreaSize.height
    inAGame = null;
    first = true;
    $(document).ready(function(){
      ipcRenderer.send("pageLoaded");
      $("#lpModalSubmit").click(function(){
        var lpChangeObj = {
          type: null, // This will either be "leaguepoints" to denote just a simple lp change, "tier" to denote a change in tier, "division" to denote a change in division, or "series" for a series update
          queue: null, // The queue type (flex or solo)
          old: null, // The old value
          new: null, // The new value
          newTier: null, // The current tier (in case people don't always use LP-Tracker we don't want to have discontinuation of data)
          newDivision: null, // The current division (for the same reason as listed above)
          date: null, // The date of the match
          note: null, // An optional note to add to the database
          matchId: null, // ID of the match which caused the change (could be empty if we just have a queue dodge)
        }
        if($("#lpModalAmount").val() !== ""){
          obj = JSON.parse($("#lpModalJSON").val())
          negativeOrNot = function(number){
            if(obj.win === true){
              return number
            }else{
              return -number
            }
          }
          lpChangeObj.type = 'leaguepoints'
          lpChangeObj.matchId = obj.matchId
          lpChangeObj.date = obj.unixTime
          lpChangeObj.old = obj.oldLP
          lpChangeObj.new = obj.oldLP + negativeOrNot(Number($("#lpModalAmount").val()))
          lpChangeObj.newTier = obj.oldTier
          lpChangeObj.newDivision = obj.oldDivision
          lpChangeObj.queue = obj.queue
          mainProcess.send("lpUpdateModal", lpChangeObj)
          $("#lpModal").modal('hide')
        }else{
          $("#lpModalAmount").effect("shake");
        }
      });
      $("#intoSeries").click(function(){
        obj = JSON.parse($("#lpModalJSON").val())
      });
      //$("#loading").css("margin-top", (screen_height/2) + "px");
    })
    ipcRenderer.once('loadingDatabasesFinished', function(){
      $("#loading-step-1").hide();
      $("#loading-step-2").show();
    })
    ipcRenderer.once('loadingMatchlistFinished', function(event, obj){
      $("#summonerName").text(obj.summonerName)
      $("#loading").hide();
      $("#overview").show();
    })
    ipcRenderer.on('lpUpdate', function(event, lp){
      if(lp.solo.tier !== null){
        solo_rank = lp.solo.tier.substring(0, 1) + lp.solo.tier.substring(1, lp.solo.tier.length).toLowerCase() + " " + lp.solo.division
        $("#solo_rank").text(solo_rank)
        solo_lp = lp.solo.lp + "LP"
        $("#solo_lp").text(solo_lp)
        if(lp.solo.series.inSeries === true){
          $("#inSoloSeries").show()
          $("#solo_series_wins").text(lp.solo.series.wins + " wins")
          $("#solo_series_losses").text(lp.solo.series.losses + " losses")
        }
        $("#solo_wins").text(lp.solo.wins + " wins")
        $("#solo_losses").text(lp.solo.losses + " losses")
      }
      if(lp.flex.tier !== null){
        flex_rank = lp.flex.tier.substring(0, 1) + lp.flex.tier.substring(1, lp.flex.tier.length).toLowerCase() + " " + lp.flex.division
        $("#flex_rank").text(flex_rank)
        flex_lp = lp.flex.lp + "LP"
        $("#flex_lp").text(flex_lp)
        if(lp.flex.series.inSeries === true){
          $("#inFlexSeries").show()
          $("#flex_series_wins").text(lp.flex.series.wins + " wins")
          $("#flex_series_losses").text(lp.flex.series.losses + " losses")
        }
        $("#flex_wins").text(lp.flex.wins + " wins")
        $("#flex_losses").text(lp.flex.losses + " losses")
      }
    })
    ipcRenderer.on('inAGame', function(event, status){
      if(first === true){
        $("#inAGame").removeClass("alert-warning");
        first = false;
      }
      if(status.inGame !== inAGame){
        inAGame = status.inGame
        if(inAGame === true){
          $("#inAGame").text("You are currently in a Ranked " + status.type + " game")
          $("#inAGame").removeClass("alert-danger")
          $("#inAGame").addClass("alert-success")
        }else{
          $("#inAGame").text("You are not in a game right now")
          $("#inAGame").removeClass("alert-success")
          $("#inAGame").addClass("alert-danger")
        }
      }
    })
  </script>
  <script src='../static/js/utils.js'></script>
  <script src='../static/js/lpUpdate.js'></script>
</html>
