<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
      body{
        overflow: visible;
      }
      .centered-text{
        margin: auto;
        text-align: center;
      }
      .centered{
        display: block
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class='container' style='text-align: center'>
      <h1 class='centered-text' style="margin-top: 10px;">Welcome to LP-Tracker!</h1>
      <br>
      <button class='centered btn btn-lg btn-info'>Get Started</button>
    </div>
  </body>

  <script src='../static/js/jquery-3.2.0.min.js'></script>
  <script src='../static/js/bootstrap.min.js'></script>
</html>
